<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CountmyCrunch"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Chronometer.Chronometer_Activity"
            android:exported="false" />
        <activity
            android:name=".CMCScheduler.SchedulerActivity"
            android:exported="false" />
        <activity
            android:name=".Chronometer.ChronometerActivity"
            android:exported="false" />
        <activity
            android:name=".HealthBlogs.BlogScreen"
            android:exported="false" />
        <activity
            android:name=".introScreen.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fooding.RecipeDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Fooding.Foodz"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HealthBlogs.HealthVlogActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".manuals.UserManual"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DashBoard.DashBoard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" /> <!-- Register up your Content Provider Here! -->
        <provider
            android:name="com.aurosaswatraj.countmycrunch.ProgressTracking.AppProvider"
            android:authorities="com.aurosaswatraj.countmycrunch.ProgressTracking.provider"
            android:exported="false" />
    </application>

</manifest>